/*

ESTRUCTURA DE CSS 
*/

body {

    background-color: rgba(53, 53, 90, 0.267);

}

h1,h2{

    text-align: center;   /*   centrar titulos h1,h2    */


}

header{

background-image: url('../img/recetaspay.jpg');
height:150px ;
display:flex    ; /*  el borde lo agranda */
justify-content: flex-end; /* el h1 lo centramos o lo ponemos a la posicion q querramos con flex -end */
position: fixed;
width: 80%;
top: 0px;
margin-left: 10%;
}
header h1 {

background-color:transparent ;
/*  el pading es la diferencia que tenemos del texto al borde  */
padding: 150px ; 
width: 500px;
height: 50px;

}

nav {  /*  le damos color al menu del comienzo  */

    background-color: transparent ;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 50px;

}
 nav ol li {
    background-color: cadetblue;
    display: inline; /* quita la lista ordenada */
    color: rgb(241, 239, 239);
    padding: 15px;
    margin: 0px 100px;

 }

 nav ol li a{
    text-decoration: none; /* le quita la linea */
    color:black;

 }
 nav ol li:hover {    /* hover es cuando posicionamos el cursor sobre ese elemento  */
background-color:yellowgreen;
color:black;
box-shadow: 5px 3px; /* te agrega un borde */


 }

 nav ol li a:hover{

color: white;

 }

article {

padding-top: 100px;
background: linear-gradient( rgba(0, 128, 0, 0.678),white )  ;
width: 80% !important;
margin-left: 10%;


}


article#Moto{

background: linear-gradient( gray,white   );


}

article#PZanahoria{


background: linear-gradient(rgba(255, 166, 0, 0.479), white);


}
article#Limon{
  

    background: linear-gradient(rgba(255, 255, 0, 0.555),white);
}
article#Galletitas{


    background: linear-gradient(rgb(90, 68, 68),white);
}

.rojo{

    background-color: red;
    width: 25%;
    height: 300px;
    color: yellow;
    font-size: 25px;
    margin: 5px;
}
#negro{
    background-color: rgb(15, 14, 14);
    width: 25%;
    height: 300px;
    color: rgb(243, 243, 243);
    font-size: 25px; /* le da el tamaño a la letra */


}
#Principal{

    display:flex;
    justify-content: center;


}
main{

    /*width: 80%;*/

}

h4 font {

    color: black ;


}
h4 font{

color: blue;

}